.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(232, 180, 89);
    padding: 15px 0;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
.long{
    width: 100%;

}



@media(max-width:600px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}